#cluster-map {
    width: 100%;
    height: 400px;
    position: absolute;
        left: 0;
        right: 0;
        top:55px;
}

#map {
    width: 100%;
    height: 300px;
}

.camp-container{
    position: fixed;
    top: 450px;}