<% layout('layouts/boilerplate') -%>
<title>Add a new Campground</title>
    <div class="col-6 offset-3">
      <h1 class="text-center mt-3">Add a Campground</h1>
      <form action="/campgrounds" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
        <label for="title" class="form-label">Title   </label>
        <input type="text" class="form-control" placeholder="Title" id="title" name="campground[title]" required>
        </div>
  
        <div class="mb-3">
        <label for="imageUrl" class="form-label">Image URL  </label>
        <input type="text" class="form-control" placeholder="Title" id="imageUrl" name="campground[image]" required>
        </div>
  
        <div class="mb-3">
        <label for="price" class="form-label">Price</label>
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control" id="price" placeholder="0.00" name="campground[price]" required>
          </div>
        </div>
        
        <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" rows="3" placeholder="Write a description.." name="campground[description]" required></textarea>
        </div>
  
        <div class="mb-3">
        <label for="location" class="form-label">Location: </label>
        <input type="text" class="form-control" placeholder="Location" id="location" name="campground[location]" required>
        <button type="submit" class="btn btn-success mt-3">Submit</button>
        </div> 
      </form>
  
    </div>
    <a href="/campgrounds">Back</a>
    
