<% layout('layouts/boilerplate') -%>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-6 offset-3 offset-xl-3">
            <div class="card shadow">
                <img src="https://cdn.pixabay.com/photo/2020/03/19/05/13/landscape-4946313_640.jpg" alt="" class="card-img-top" crossorigin="anonymous">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" method="POST" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" placeholder="Email" id="email" name="email" required>
                        </div>
                    
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" placeholder="Username" id="username" name="username" autofocus required>
                        </div>
                    
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" placeholder="Password" id="password" name="password" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-info">Register</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
